.csconfig/
_configuration.mk

**/__pycache__/
*.pyc

bin/

**/*.o
**/*.d

test/000-test-main

tracer/pin/obj-intel64/

vcpkg_installed/

**/_build
**/_doxygen

absolute.options
**/legacy.options
**/function_patch.options
**/legacy_bridge.inc
**/legacy_bridge.h
**/legacy_bridge.cc

.cache/
compile_commands.json

.vscode/
**/.DS_Store
/traces/400.perlbench-41B.champsimtrace.xz
/logs
/.build.lock
/.cache.lock
/traces
/report/report.aux
/report/report.fdb_latexmk
/report/report.fls
/report/report.log
/report/report.out
/report/report.synctex.gz
/experiments/logs
/plots_lru_config.json
/plots_hawkeye_config.json
/hawkeye_tests/optgen_test
/hawkeye_tests/predictor_test
/hawkeye_tests/rrip_test
